{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Styles -->
    <link href="{{ asset('build/gallery.css') }}" id="theme" rel="stylesheet">
{% endblock %}

{% block customscripts %}
    <!-- Javascript -->
{% endblock %}

{% block pagecontent %}
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Performance</h3>
        </div>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{{ path('index') }}">Upload more images</a>
        </nav>
    </header>



    <main role="main" class="inner cover uploader">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {% for image in images %}
                        <p class="my-4 text-center text-lg-left">Pack Image {{ loop.index }}</p>
                        <div class="row text-center text-lg-left">
                            {% for item in image %}
                                {% set uri = "../" ~ item.path ~ item.name ~ "." ~ item.ext %}
                                {% set modal_id = item.name|replace({'[': '', ']': ''}) %}
                                <div class="col-lg-3 col-md-4 col-xs-6">
                                    <a href="{{ uri }}"
                                       class="d-block mb-4 h-100" data-toggle="modal" data-target="#{{ modal_id }}"
                                       data-id="{{ uri }}">
                                        <img class="img-fluid img-thumbnail"
                                             src="{{ uri }}"
                                             alt="{{ item.tags }}"
                                             data-toggle="tooltip" data-html="true"
                                             title="scale: {{ item.scale }}%<br />Filter: {{ item.filter }}<br /><b>Click for more info...</b>">
                                    </a>
                                </div>

                                <!-- Modal -->
                                <form method="post" id="image-form" action="{{ path('view_image_post') }}">
                                    <div class="modal custom fade" id="{{ modal_id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="imageModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="imageModalLongTitle">{{ item.client }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="text-black modal-body">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Type Image</th>
                                                            <th>Scale Image</th>
                                                            <th>Filter Image</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>{{ item.ext }}</td>
                                                            <td>{{ item.scale }}%</td>
                                                            <td>{{ item.filter }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="form-group">
                                                        <label for="description">Description:</label>
                                                        <textarea name="description" class="form-control" rows="4"
                                                                  id="description">{{ item.description }}</textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputTags">Tags</label>
                                                        <input name="tags" type="text" class="form-control"
                                                               id="inputTags"
                                                               aria-describedby="emailHelp" value="{{ item.tags }}"
                                                               placeholder="Enter Tags...">
                                                        <small id="tagsHelp" class="form-text text-muted">separated by
                                                            comma
                                                        </small>
                                                    </div>

                                                    <input type="hidden" name="uuid" value="{{ item.uuid }}">
                                                    <input type="hidden" name="name" value="{{ item.name }}">

                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-primary" href="{{ uri }}" target="_blank">Download
                                                        Image</a>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
